*{
  box-sizing: border-box;
}
body{

}
html{
    cursor: url(man.ico), auto;
}
a{color:rgb(0, 0, 0);
  text-decoration: none;}
canvas{
position:fixed;
z-index: -10;
top:0;
left:0;
}
.title{
  position:absolute;
  height:15vh;
  width:100vw;
  top:13%;
  left:42%;
font-family: 'Josefin Slab', serif;
  letter-spacing: 55px;
  color:rgb(255, 255, 255);
  font-size: 25px;
  z-index: 5;
}
.title2{
  position:absolute;
  height:15vh;
  width:100vw;
  top:45%;
  left:42%;
font-family: 'Josefin Slab', serif;
  letter-spacing: 55px;
  color:rgb(255, 255, 255);
  font-size: 25px;
  z-index: 5;
}
.title3{
  position:absolute;
  height:15vh;
  width:100vw;
  top:80%;
  left:42%;
font-family: 'Josefin Slab', serif;
  letter-spacing: 55px;
  color:rgb(255, 255, 255);
  font-size: 25px;
  z-index: 5;
}
.title4{
  position:absolute;
  height:10px;
  width:10px;
  border-radius: 50%;
  top:30%;
  left:50%;
  background-color:rgba(255, 255, 255, 0.37);
  font-size: 35px;
  z-index: 5;
}
.title5{
  position:absolute;
  height:10px;
  width:10px;
  border-radius: 50%;
  top:65%;
  left:50%;
  background-color:rgba(255, 255, 255, 0.37);
  font-size: 35px;
  z-index: 5;
}
.main-container{
    position:absolute;
    margin: auto;
    justify-content: center;
    display: grid;
    height:120%;
    top:20vh;
    left:6.5vw;
    column-gap: 690px;
    row-gap: 300px;
    grid-template-columns: 100px auto;
}
.item{
  position:relative;
  width:400px;
  height:400px;
  border-radius: 5%;
  background:url(window2.png);
  background-size: contain;
  border:14px solid;
  border-color:rgba(0, 0, 0, 1);
  z-index:3;
  transitaion: all .4s ease-in-out;
}
.item:hover{
  border:0;
}
.item:hover .info{
  opacity: 1;
  transform: scale(1);
}
.item:hover .info h3{
  opacity: 1;
    transform:scale(1);
}
.item:hover .info p{
  opacity: 1;
    transform:scale(1);
}
.info{
  opacity:0;
  transform:;
  position:absolute;
  width:100%;
  height:100%;
  background:url(window.png);
  background-size: contain;;
  border-radius: 5%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  transition: all .4s ease-in-out;
}
.info h3{
    opacity: 0;
    transform:scale(0);
  height:140px;
  font-size:30px;
  color: rgb(255, 255, 255);
  margin:0 20px;
  padding-top: 40%;
  transition: all 1s ease-in-out;
}
.info p{
    opacity: 0;
      transform:scale(0);
  height:100px;
  font-size:15px;
  color: rgb(255, 255, 255);
  margin:0 20px;
  padding-top: 10%;
  transition: all 1s ease-in-out;
}

.item2{
  position:relative;
  width:400px;
  height:400px;
  border-radius: 5%;
  background:url(skin2.png);
  background-size: contain;
  border:14px solid;
  border-color:rgba(0, 0, 0, 1);
  z-index:3;
  transitaion: all .4s ease-in-out;
}
.item2:hover{
  border:0;
}
.item2:hover .info2{
  opacity: 1;
  transform: scale(1);
}
.item2:hover .info2 h3{
  opacity: 1;
    transform:scale(1);
}
.item2:hover .info2 p{
  opacity: 1;
    transform:scale(1);
}
.info2{
  opacity:0;
  transform:;
  position:absolute;
  width:100%;
  height:100%;
  background:url(skin.png);
  background-size: contain;;
  border-radius: 5%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  transition: all .4s ease-in-out;
}
.info2 h3{
    opacity: 0;
    transform:scale(0);
  height:140px;
  font-size:30px;
  color: rgb(255, 255, 255);
  margin:0 20px;
  padding-top: 40%;
  transition: all 1s ease-in-out;
}
.info2 p{
    opacity: 0;
      transform:scale(0);
  height:100px;
  font-size:15px;
  color: rgb(255, 255, 255);
  margin:0 20px;
  padding-top: 10%;
  transition: all 1s ease-in-out;
}
.item3{
  width:400px;
  height:400px;
  border-radius: 50%;
  background-color:rgb(218, 55, 126);
  z-index:3;
}
.item4{
  width:400px;
  height:400px;
  border-radius: 50%;
  background-color:rgb(55, 63, 218);
  z-index:3;
}
p{
  color:rgb(0, 0, 0);
  font-family: 'Syne Mono', monospace;
  text-decoration: none;
  font-size: 20px;
}

@keyframes move-clouds-back {
0%{
  transform:translateX(-1800px);
}
100%{
    transform:translateX(1000px);
}
}
@keyframes move-clouds-back2 {
0%{
  transform:translateX(-3200px);
}
100%{
    transform:translateX(1000px);
}
}
.cloud{
  position: fixed;
top:55%;
    z-index:11;
  animation:move-clouds-back 32s linear infinite;
}
.cloud2{
  position: fixed;
top:55%;
    z-index:11;
  animation:move-clouds-back2 45s linear infinite;
}
.back{
  position:fixed;
  width:80px;
  height:80px;
  top: 5%;
  left: 90%;
  transition: all 0.6s;
}
.back:hover{
  transform:scale(1.5);
  cursor: url(man.ico), auto;
}
.pic1{
  position:fixed;
  width:80px;
  height:80px;
  top: 5%;
  left: 90%;
}
