*{
  box-sizing: border-box;
}
html{
    cursor: url(man.ico), auto;
}
canvas{
position:fixed;
z-index: -10;
top:0;
left:0;
}
.hi{
  position:fixed;
  width:740px;
  height:205px;
  top: 13%;
  left: -15%;
  font-size: 200px;
  font-family: Black Ops One;
  color:rgba(204, 204, 204);
  display: flex;
  justify-content:center;
  align-items:center;
  z-index: 3;
  text-shadow: 0 0 15px rgb(255, 255, 255);
}
.name{
  position:fixed;
  width:720px;
  height:230px;
  top: 40%;
  left: 26%;
  font-size: 18px;
font-family: 'Jomolhari', serif;
  color:rgba(204, 204, 204);
  display: flex;
  justify-content:center;
  align-items:center;
  z-index: 3;
  text-shadow: 0 0 15px rgb(255, 255, 255);
}
.circle{
  width:5vw;
  height:9vh;
  border-radius: 50%;
  background-color:rgba(120, 199, 136, 0.68);
    z-index: 2;
}
.circle2{
  position:fixed;
  width:50vw;
  height:83vh;
  top:70%;
  left:70%;
  border-radius: 50%;
  background-color:rgba(200, 123, 205, 0.72);
    z-index: 2;
}
.ball{
  width:30px;
  height:30px;
  top:10vh;
  left:20vw;
  border-radius:50%;
  line-height: normal;
  position:absolute;
  animation: spin 2.7s infinite;
  transform-origin:450% 200px;
}.loader
{
  position: relative;
  width:300px;
  height:300px;
  transform-style:preserve-3d;
  transform:perspective(500px) rotateX(60deg);
}

.loader span-ball{
 position:absolute;
 position:absolute;
 display:block;
 border:2px solid #fff;
 box-sizing:border-box;
 border-radius:50%;
}
.loader span-ball{
top:-10px;
left:-10px;
right:-10px;
bottom:-10px;}
@keyframes spin{
  to{transform: rotate(1turn);}
 0%{
   background:rgb(68, 235, 95);
 }
 20%{
   background: rgb(82, 163, 200);
 }
 40%{
   background:rgb(244, 66, 250);
 }
 80%{
   background: rgb(82, 163, 200);
 }
 100%{
   background:rgb(68, 235, 95);
 }
}
.back{
  position:fixed;
  width:80px;
  height:80px;
  top: 5%;
  left: 90%;
  transition: all 0.6s;
}
.back:hover{
  transform:scale(1.5);
  cursor: url(man.ico), auto;
}
